<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col">
        <div class="social-links">
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if site.scholar_userid %}
          <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank">
            <i class="fas fa-graduation-cap"></i>
          </a>
          {% endif %}
          {% if site.linkedin_username %}
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          {% endif %}
          <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
    <p class="footer-text">© {{ 'now' | date: "%Y" }} {{ site.author.name }}</p>
  </div>
</footer>
